<footer>
    <div class="content sticky-end">
        <div class="socials"><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-facebook-f"></i><i class="fa-brands fa-linkedin-in"></i></div>
        <div class="cpyright">&copy; WanderLust Private Limited</div>
        <div class="footer-links"><a href="">Privacy</a><p> , </p><a href="">Terms</a></div>
    </div>
</footer>